.navbar {
   background: var(--main-color);
   color: var(--secondary-color);
   padding: 1rem 0;
}

.navbar nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.navbar nav a {
   text-transform: capitalize;
   font-size: 2rem;
   color: var(--secondary-color);
   line-height: 1.2;
   height: 50px;
}

.navbar nav a h1 {
   line-height: 1.5;
}

.navbar nav .left {
   display: flex;
   align-items: center;
   height: 100%;
}

.navbar nav .left *:not(:first-child) {
   height: 100%;
   margin: 0 auto;
}

.navbar nav .right *:not(:last-child) {
   margin-right: 3rem;
}
